<header class="site-header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="/">
                    <img src="/assets/images/sase/new-sase-logo.png" alt="SASE Logo" class="header-logo">
                </a>
            </div>
            <nav class="main-nav">
                <button class="menu-toggle" aria-label="Toggle menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <ul class="nav-links">
                    {% for item in site.navigation %}
                    <li class="{% if page.url == item.url %}active{% endif %}">
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul> 

                <a href="https://busase.us7.list-manage.com/subscribe?u=6a6f2e99d890348d0e3910bc9&id=d6e4ca10e4" class="nav-cta">Sign Up</a>
            </nav>
        </div>
    </div>
</header>